<p>Event keyup</p>
<input placeholder="Name student" [(ngModel)]="name" #textName>
<p>Your name: {{name}}</p>
<code>{{textName.value|json}}</code>

<p>----------------------------------------</p>
<p>Show list student</p>

<table id="table" border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Phone</td>
        <td>Gender</td>
        <td>Address</td>
    </tr>
    <tr *ngFor="let emp of values">  
        <td>{{ emp.sid}}</td>  
        <td>{{ emp.sName }}</td>  
        <td>{{ emp.sPhone }}</td>  
        <td>{{ emp.sGender }}</td>  
        <td>{{ emp.sAddress }}</td>  
        
    </tr>  
</table>
<p>-------Insert student----------</p>
<form >
    <div>
        <label for="id">Student ID: </label>    
        <input type="text" name="sid">
    </div>
    <div>
        <label for="Name">Student Name: </label>
        <input type="text" name="sName">
    </div>
    <div>
        <label for="Phone">Student Phone: </label>
        <input type="number" name="sPhone">
    </div>
    <div>
        <label for="Gender">Student Gender: </label>
        <input type="text" name="sGender">
    </div>
    <div>
        <label for="Address">Student Address: </label>
        <input type="text" name="sAddress">
    </div>
    <button (click)="onSubmit()" class="button" type="submit">Submit</button>

</form>